body{
    margin: 0;
    padding: 0;
    background:  linear-gradient(-245.59deg, #000034 20%, #00001a  80.52%, #000034 28.53%);
    /* background-color: #00001a; */
    color:white
}

.header{
    position: fixed;
    top:8px;
    left: 0;
    display: flex;
    width: 100%;
    /* background-color: #e7ded2; */
    justify-content: space-between;
    z-index: 99;
}
a{
    text-decoration: none;
}
.logo{
    margin-left: 5rem;
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
}
.logo a{
    text-decoration: none;
    color: #daccc3;

}
.logo a:hover{
    padding: 0px 4px;
    color: #ca6e35;
    /* background-color: #141516; */
    transition: 1s;
}
.nav-menu{
    margin-right: 5rem;
}
.nav-menu i{
    display: none;
}
.nav-menu ul.menu{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap:1rem;
    justify-content: space-between;
    transition: left 0.3s;
    margin-right: 3rem
}

ul.menu li a{
    color: #a98f77;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
}
ul.menu li a:hover{
    border: #e7ded2 2px solid;
    border-radius: 0.5rem;
    background-color: #a98f77;  
    color: #00001a;
    transition: 0.5s;

    /* transform: translateX(8px) */
    /* margin-right: 3rem */
}


.icons i{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: white;
    transition: all 0.5s ease;
}
.icons i:hover{
    color: #ca6e35;
    transform: translatey(-5px);
}
.main_container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
}

.content{
    width: 40%;
}
.content .introduction{
    font-family: 'Ysabeau Infant', sans-serif;
}
.title{
    color:#ffff;
    font-weight: bold;
    font-size: 3rem;
}
.title span{
    color: #896F55;
    font-family: 'Dancing Script', cursive;

}
.profile{
    padding-bottom: 70px;
}
.description{
    font-size: 1.5rem;
}
.profile img{
    border-radius: 70%;
    border: 2px solid transparent; /* Màu và độ dày của border */
    box-shadow: 4px 4px 10px rgba(139, 130, 130, 0.5); /* Điều chỉnh ngã bóng */
    /* padding-bottom: 20px; */

}
.buttons{
    display: flex;
    gap: 1rem;

}

.btn{
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 1rem 2rem;
    outline: none;
    border-radius: 10px;

    transition: 0.6s;
    cursor: pointer;
}

button.about-me{
    background-color: #000067;
    border: 2px solid #e7ded2;
    color: #daccc3;

   
} 
button.about-me:hover{
    background-color: transparent;
    transform: translateX(8px);
}
button.portfolio{
    border: 2px solid #000067;
}
button.portfolio:hover{
    background-color: #000067;
    color:#daccc3;
    border: 2px solid #e7ded2;
    transform: translateX(8px);

}
@media(width < 1000px){
    .icons{
        display: none;
    }
    img{
        height: 300;
    }
}
@media(width < 900px){
    .content{
        text-align: center;
    }
    .buttons{
        justify-content: center;
    }
}
@media (width < 800px){
    .nav-menu ul.menu{
        display: none;
    }

    .nav-menu{
        display: grid;
        place-items: center;
        margin-right: 2rem;

    }

    .nav-menu i{
        display: block;
        font-size: 2rem;
        padding-right: 2px;
        /* position: absolute;
        top: 50%; */
        /* left: 50%; */
        /* transform: translate(-50%, 50%); */
    }
}

/*  */

@media (max-width: 900px) {
    .main_container{
        flex-direction: column;
        margin-top: 12rem;
       
    }
    .main_container .content{
        width: 70%;
    }
    
}